<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>webpack.ts</title>
    <link rel="stylesheet" href="~/css/bootstrap3-custom/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @System.DateTime.Now.Year - GaProgMan</p>
        </footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
